<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
      <% if @voyage_sections["address"] %>
      <%= f.text_field :address, value: @voyage_sections["address"] %>
      <% else %>
      <%= f.text_field :address %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :alt %><br>
      <% if @voyage_sections["alt"] %>
      <%= f.text_field :alt, value: @voyage_sections["alt"] %>
      <% else %>
      <%= f.text_field :alt %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <% if @voyage_sections["category"] %>
      <%= f.text_field :category, value:  @voyage_sections["category"] %>
      <% else %>
      <%= f.text_field :category %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
      <% if @voyage_sections["description"] %>
      <%= f.text_area :description, value: @voyage_sections["description"] %>
      <% else %>
      <%= f.text_field :description %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :directions %><br>
      <% if @voyage_sections["directions"] %>
      <%= f.text_field :directions, value: @voyage_sections["directions"] %>
      <% else %>
      <%= f.text_field :directions %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :hours %><br>
      <% if @voyage_sections["directions"] %>
      <%= f.text_field :hours, value: @voyage_sections["hours"] %> 
      <% else %>
      <%= f.text_field :hours %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :lat %><br>
      <% if @voyage_sections["lat"] %>
      <%= f.text_field :lat, value: @voyage_sections["lat"] %>
      <% else %>
      <%= f.text_field :lat %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :long %><br>
      <% if @voyage_sections["long"] %>
      <%= f.text_field :long, value: @voyage_sections["long"] %> 
      <% else %>
      <%= f.text_field :long %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
      <% if @voyage_sections["name"] %>
      <%= f.text_field :name, value: @voyage_sections["name"] %> 
      <% else %>
      <%= f.text_field :long %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :price %><br>
      <% if @voyage_sections["price"] %>
      <%= f.text_field :price, value: @voyage_sections["price"] %> 
      <% else %>
      <%= f.text_field :price %>
      <% end %>
  </div>

 <div class="field">
    <%= f.label :tag %><br>
      <% if @voyage_sections["tag"] %>
      <%= f.text_field :tag, value: @voyage_sections["tag"] %> 
      <% else %>
      <%= f.text_field :tag %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :url %><br>
      <% if @voyage_sections["url"] %>
      <%= f.text_field :url, value: @voyage_sections["url"] %> 
      <% else %>
      <%= f.text_field :url %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
      <% if @voyage_sections["phone"] %>
      <%= f.text_field :phone, value: @voyage_sections["phone"] %> 
      <% else %>
      <%= f.text_field :phone %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
      <% if @voyage_sections["email"] %>
      <%= f.text_field :email, value: @voyage_sections["email"] %> 
      <% else %>
      <%= f.text_field :email %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :fax %><br>
      <% if @voyage_sections["fax"] %>
      <%= f.text_field :fax, value: @voyage_sections["fax"] %> 
      <% else %>
      <%= f.text_field :fax %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :image1 %><br>
    <%= f.text_field :image1 %>
  </div>

  <div class="field">
    <%= f.label :image2 %><br>
    <%= f.text_field :image2 %>
  </div>

  <div class="field">
    <%= f.label :image3 %><br>
    <%= f.text_field :image3 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
